body{
  background-color: #e7e6e6;
  margin: 0;
}
.btn-hover:hover{
  color: white !important;
  background-color: #0058b1ff !important;
}
.active {
  background-color: white !important;
  color: black !important;
}
.active:hover {
  background-color: white !important;
  color: black !important;
}